@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./images/picture_01.jpeg");
    background-size: cover;
}
.item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./images/picture_02.jpeg");
    background-size: cover;
}
.item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./images/picture_03.jpeg");
    background-size: cover;
}
